@model Inventory_Management_System.Models.Class.Category
@{
    ViewBag.Title = "CategoryImport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />


@using (Html.BeginForm("CategoryUpdate", "Category", FormMethod.Post, new { onsubmit = "return confirm('Bu işlemi yapmak istiyor musunuz?');" }))
{
    <div class="form-group">
        @Html.LabelFor(x => x.CategoryID)
        @Html.TextBoxFor(x => x.CategoryID, new { @class = "form-control", maxlength = "3", oninput = "validateNumericInput(this)", style = "width: 80px;", @readonly = "readonly" })
        <br />
        @Html.LabelFor(x => x.CategoryName)
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control", maxlength = "50", oninput = "validateInput(this)", style = "width: 300px;" })

    </div>



    <br />
    <button class="btn btn-warning"> Kategori Güncelle </button>
}
<br />
<button onclick="window.history.back()" class="back-button">Geriye Dön</button>

<script>
    function validateInput(input) {
        // Yalnızca İngiliz alfabesi karakterlerini kabul etmek için düzenli ifade kullanılır.
        input.value = input.value.replace(/[^a-zA-Z\s]/g, '');
    }

    function validateNumericInput(input) {
        input.value = input.value.replace(/\D/g, ''); // Sadece rakamları kabul etmek için
    }
</script>
