@using Inventory_Management_System.Models.Class.Hardware
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<GraphicsCard>

@{
    ViewBag.Title = "GraphicsCardList";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong></strong>@TempData["AlertMessage"]
    </div>
}

@using (Html.BeginForm("GraphicsCardList", "Device", FormMethod.Get))
{
    <p>
        Ekran Kartı: @Html.TextBox("p")
        <input type="submit" value=" Ara" />
    </p>
}


<table class="table table-bordered">
    <tr>

        <th> EKRAN KARTI</th>
        <th> SİL</th>
        <th> GÜNCELLE</th>

    </tr>
    <tbody>
        @foreach (var ctgr in Model)
        {
            <tr>

                <td> @ctgr.GraphicsCardName</td>
                <td> <a href="/Device/GraphicsCardDelete/@ctgr.GraphicsCardID" class="btn btn-danger"> SİL</a></td>
                <td> <a href="/Device/GraphicsCardImport/@ctgr.GraphicsCardID" class="btn btn-success"> GUNCELLE</a></td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("GraphicsCardList", new { sayfa }))
<a href="/Device/GraphicsCardAdd" class="btn btn-primary"> Ekran Kartı Ekle</a>






