@model Inventory_Management_System.Models.Class.Hardware.Model

@{
    ViewBag.Title = "ModelAdd";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">


    <div>
        <label> Model Adı</label>
        @Html.TextBoxFor(m => m.ModelName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ModelName, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1"> Model Ekle</button>
    </div>


</form>
